{
  "env": {
    "test": {
      "only": ["src/"],
      "presets": [
        ["pob-babel/preset", { "flow": false }]
      ]
    },
    "doc": {
      "only": ["src/"],
      "presets": [
        ["pob-babel/jsdoc-preset", { "flow": false }]
      ]
    }
  }
}
